.SearchBox{
    text-align: center !important;
    margin-bottom: 25px;
    
}

.SearchBox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 25px 0 35px;
}

#city{
    
    background-color: rgb(255, 241, 241);
    box-shadow: 4px 10px 38px rgba(0, 0, 0, 0.15);
}